body {
  font-family: "Input Sans Narrow", "JetBrains Mono", Menlo, Meslo LG, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", Segoe UI Symbol, "Noto Color Emoji", 'PingFang SC', 'Microsoft YaHei';
  max-width: 80rem;
}

pre code {
  font-size: 1.4rem;
  font-family: "JetBrains Mono", consolas, Menlo, monospace, 'PingFang SC', 'Microsoft YaHei';
}
