{% extends "base.html" %}

{% block content %}
{{ section.content | safe }}

<h2>Writing</h2>
{% set posts_section = get_section(path="posts/_index.md") %}

<ul class="titleList">
{% for page in posts_section.pages %}
  <li>
    <a href="{{ page.permalink | safe }}">{{ page.date}}  {{ page.extra.emoji }}{{ page.title }}</a>
  </li>
{% endfor %}
</ul>

{% if paginator %}
<div class="metaData">{% if paginator.previous %}<a href="{{ paginator.first }}">⥶</a> &nbsp <a href="{{ paginator.previous }}"><</a>{% endif %} &nbsp {{ paginator.current_index }} / {{ paginator.number_pagers }} &nbsp {% if paginator.next %}<a href="{{ paginator.next }}">></a> &nbsp <a href="{{ paginator.last }}">⥸</a>{% endif %}</div>
{% endif %}

{% endblock content %}
